body{
	margin: auto;
	padding: 0;
	background-image: url("../images/bones.jpg");
	height: 1080px;
	overflow: scroll;
	width: 960px;
	font-family: 'Marcellus SC', serif;
}

header {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
	font-size: 19px;
	width: 960px;
	font-weight: bold;	
}

button {
	margin-left: 435px;
}

.hide {
	display: none;
}

#questions {
  font-size: 21px;
}

#questions2 {
	font-size: 21px;
}
#questions3 {
	font-size: 21px;
}
#questions4 {
	font-size: 21px;
}

#questions5 {
	font-size: 21px;
}

form p {
	font-size: 19px;
}

#score {
color: white;
text-align: center;
}

#gif {
	text-align: center;
}

html, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec52.ani), url(http://cur.cursors-4u.net/mechanics/mec-1/mec52.png), progress !important;} 
#trivia, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec52.ani), url(http://cur.cursors-4u.net/mechanics/mec-1/mec52.png), progress !important;} 
body, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec52.ani), url(http://cur.cursors-4u.net/mechanics/mec-1/mec52.png), progress !important;}